<div>
    <a href="{% url 'users:users_create' %}">
        <button>Create</button>
    </a>
</div>

<ol>
    {% for user in users_list %}
        <li>
            <div style="display: flex; flex-flow: row;">
                <div style="margin: .2em;">
                    <b><span>{{ user.name }}</span></b>
                    <span>{{ user.email }}</span>
                    <br>
                    <span>{{ user.modified_at }}</span>
                </div>
                <div style="margin: .2em;">
                    <a href="{% url 'users:users_update' user.pk %}">
                        <button>Update</button>
                    </a>
                    <a href="{% url 'users:users_delete' user.pk %}">
                        <button>Delete</button>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ol>
