{% extends "_helpers/_base.html" %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <body>
        <h1>Зашифроване повідомлення</h1>
        <p><strong>Тема:</strong> {{ encrypted_message.topic }}</p>
        <p><strong>Зашифроване повідомлення:</strong> {{ encrypted_message.encrypted_message }}</p>
        <p><strong>Дата створення:</strong> {{ encrypted_message.created_at }}</p>
        <p><a href="{% url 'encrypting:decrypt' %}">Перейти до розшифрування</a></p>
    </body>
{% endblock %}
